<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="../css/aboutstyle.css" type="text/css">
</head>
<body id="body">
    {{>navbar}};
    <!-- main header -->
    <div class="container-fluid main_header" id="content">
      <div class="row2">
                <p id="about">Welcome to WeatherReader! With our user-friendly platform, you can easily find the weather condition of any city in the world. Whether you are planning a trip, checking the weather for your daily activities, or curious about the current climate in a particular location, WeatherReader got you covered.</p>
      </div>
    </div>
  </body>
  {{>footer}}
  
</html